{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}
    <h1>Quote</h1>
    <form action="/quote" method="post">
        <div class="mb-3">
            <h4>Enter Stock Symbol:</h4>
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="symbol" name="symbol" placeholder="Stock Symbol" type="text">        </div>
        <button class="btn btn-primary" type="submit">Quote</button>
    </form>
    {% if quote %}
        <h3>{{ quote['name'] }} ({{ quote['symbol'] }})</h3>
        <p>Price : {{ quote['price']|usd }}</p>
    {% endif %}
{% endblock %}
